{% extends 'headfooter.html' %}
		{% block content %}
		{% load static %}
       {% load crispy_forms_tags %}

                
				<section>
                            
                        
<section class="list_jobs">
	<div class="upload col-md-9 uloady">
	<div class="row">
	      {% for pic in pics %}
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{{pic.photo.url}}">
		<a href="{% url 'deletephoto' pic.id %}"><button type="button" class="btn-default">DELETE</button></a>
		</div>
		</div>
		       {% endfor %}
		
		</div>
		</div>
		
		</div>
	</div>
	</div>
	<form method="post" enctype='multipart/form-data'>
	     {% csrf_token %}
	<div class="upload col-md-3">
		<div class="">
		        {{form}}
			{% comment %} <input type='file' onchange="readURL(this);" /> {% endcomment %}
			<a href="#" type="submit" class="btn btn-m theme-btn sumnit_btn skip">Skip</a>
			<input type="submit" class="btn btn-m theme-btn sumnit_btn skip skip1" style="background:blue";>
			<!-- <input type="submit" class="btn btn-m theme-btn sumnit_btn" value='Submit'> -->
		</div>
		
	</div>		
</form>
</div>                              
</div>
</div>
</section>
{% endblock %}
