{% extends 'headfooter.html' %}
		{% block content %}
		{% load static %}

                
				<section>
                            
                        
<section class="list_jobs">
	<div class="upload col-md-9 uloady">
	<div class="row">
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		<div class="row2">
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		<div class="div_images col-md-3">
		<div class="div_imgin">
		<img src="{% static 'img/avatar-1.jpg' %}">
		</div>
		</div>
		</div>
		
		</div>
	</div>
	</div>
	<div class="upload col-md-3">
	<div class="uploading_inner">
			<input type='file' onchange="readURL(this);" />
			<a href="#" type="submit" class="btn btn-m theme-btn sumnit_btn skip">Skip</a>
			<a href="#" type="submit" class="btn btn-m theme-btn sumnit_btn">Submit</a>
		</div>
		
	</div>		
</form>
</div>                              
</div>
</div>
</section>
{% endblock %}
